* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    height: 100vh;
}

main {
    flex-grow: 1;
}

header,
footer {
    background-color: #3587A4;
    color: #FFFFFF;
}

header {
    padding: 10%;
    text-align: center;
}

footer {
    padding: 8%;
}

.container {
    background-color: #C1DFF0;
    border-radius: 1em;
    margin: 5%;
    padding: 5%;
}

p {
    margin-bottom: 0.5em;
}
